.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 27rem){
.container{
  flex-direction: column;
}
}